doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js")
    body(class="container-fluid")
        block content
